  .center {
        text-align: center;
      }

      /* Makes the H fully hidden but still clickable */
      .hide {
        color: white;
        text-decoration: none;
        user-select: none;
      }

      /* Removes mouse click highlight on buttons and links */
      button, a {
        outline: none;
      }

      button:focus, a:focus {
        outline: none;
      }

      /* Removes the blue highlight on click */
      button:active, a:active {
        outline: none;
      }
